/* * {
    border: 1px red solid;
} */
#canvasContainer {
    background-color: #7649fe;
    position: relative;
    width: 500px;
}
#canvas {
    background-image: url(./images/wheelbg.png);
    background-repeat: no-repeat;   
    background-position: center;  
    font-family: 'Roboto Slab', serif;
    width: 500px;                  
    height: 500px;
    z-index: 999;
}
#prizePointer {
    position: absolute;
    left: 225px;
    top: 40px;
    z-index: 999;
}
.player {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 800;
}

.container {
    background-color: gray;
}
.spacer {
    margin-top: 24px;
    padding-bottom: 48px;
}
.spinBtn {
    width: 300px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}