.offset {
    left: 64px;
    top:64px;
    position: relative;
}

.resize {
    width: 128px;
    height: 128px;
    position: absolute;
    border: 5px solid #ba1e68!important;
    transform: translate(-50%, -50%);
}

.counter { 
    text-align: center;
    transform: translate(-50%, -50%) scale(1);
}
.play {
    animation: hide .99s ease-out;
}

.timeContainer {
    position: absolute;
	left: 50%;
	top: 50%;
}

@keyframes hide {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes show {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    80% {
        transform: translate(-50%, -50%) scale(1.4);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}