.TurnArrowContainer {
    position: absolute;
    z-index: 0;
    top: -138px;
    animation: bouncey .5s ease-in-out infinite ;
}

@keyframes bouncey {
    0% {
        transform: translateY(-3px);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(-3px);
    }
}

.rcorners999 {
  border-radius: 10px;
  border: 2px solid #ba1e68;
  background: #1d1135;
  padding: 10px; 
  width: 70px;
  height: 70px;
}