
.modal-wrapper {
    background: #fcfbfe;
    border: 5px solid #7649fe;
    box-shadow: 0 5px 8px 0 rgba(194, 161, 161, 0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 25px auto 0;
    transition: all .8s;
    width: 450px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.modal-header {
    background:  #1d1135; 
    height: 80px;
    width: 100%;
    padding: 5px 20px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    border-bottom: 5px solid #7649fe;
    display: inline-block;
}

.modal-header h1 {
    display: inline-block;
    width: 100%;
    color: #fcfbfe;
    font-size: 52px;
}

.modal-body {
    background: #fcfbfe;
    color: #1d1135;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    padding: 10px 15px;
    text-align: center;
}

.modal-footer {
    background: #1d1135;
    border-top: 5px solid #7649fe;
    height: 60px;
    padding: 15px;
    text-align: center;
    margin: auto;
}

.footerText {
    display: inline-block;
    width: 100%;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    background: #1d1135;
    color: #fcfbfe;
}
.submitBtnText {
    display: inline-block;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    background: #1d1135;
    color: #fcfbfe;
}


.submit-button {
    display: inline-block;
    margin-top: 30px;
    background: #1d1135;
    color: #fcfbfe;
    width: 45%;
    height: 42px;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    border: 5px solid #7649fe;
}

.login-image {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
}
     
#label-username {
    float: left;
    color: #1d1135;
    font-family: 'Roboto Slab', serif;
    line-height: 24px;
    font-size: 24px;
    font-weight: 900;
}

#label-password {
    float: left;
    color: #1d1135;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
}
#label-confirm {
    float: left;
    color: #1d1135;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
}

#password-input {
    line-height: 20px;
    font-size: 20px;
    font-weight: 900;
    color: #1d1135;
}

#username-input {
    line-height: 20px;
    font-size: 20px;
    font-weight: 900;
    color: #1d1135;
}

#confirmpass-input {
    line-height: 20px;
    font-size: 20px;
    font-weight: 900;
    color: #1d1135;
}

.inputField {
   margin-top: 25px;
}

.modal-body {
    modal-top: 10px;
 }

#modalForm {
    width: 90%;
    margin-left: 25px;
}